body {
  margin: 0% 30%;
}

.header {
  text-align: center;
  text-transform: uppercase;
}

img {
  height: 300px;
  weight: 300px;
}

.image {
  border-bottom: 5px;
  border-color: grey;
}

.image p {
  color: grey;
  font-size: 12px;
}

.main {
  border-bottom: 2px;
  border-color: grey;
}

.info ul {
  font-size: 8px;
}

.tel div {
  border-bottom: 2px;
  border-color: grey;
}

.tel p {
  font-size: 12px;
}

a {
  color: blue;
  font-size: 8px;
}

.vk div {
  border-bottom: 2px;
  border-color: grey;
}
.footer p {
  font-size: 8px;
}
